@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  background-color: #04040c;
}
